// Imported into every component with "style-resource-loader"

$sunYellow: #f7b731;
$grassGreen: #2ecc71;
$tomatoRed: #e84118;
$darkBlue: #273c75;
$riverBlue: #00a8ff;
$plainBlack: #1e1e1e;
$plainWhite: #f5f6fa;

@function color($name) {
    @return map-get($colors, $name);
  }